= render "layouts/header"

.main
  プログラミング言語
  .main-content1
    .main-content-block
      .title
        HTML
      .overview
        概要
      .text
        HyperText Markup Languageは、ハイパーテキストを記述するためのマークアップ言語の1つ

    .main-content-block
      .title
        CSS
      .overview
        概要
      .text
        Cascading Style Sheetsは、HTML や XML の要素をどのように修飾するかを指示する仕様の一つ

    .main-content-block
      .title
        Ruby
      .overview
        概要
      .text
        Rubyは、まつもとゆきひろにより開発されたオブジェクト指向スクリプト言語。
  .main-content2
    .main-content-block
      .title1
        javascript
      .overview
        概要
      .text
        プログラミング言語のひとつで,プロトタイプベースのオブジェクト指向スクリプト言語であるが、クラスなどのクラスベースに見られる機能も取り込んでいる。

    .main-content-block
      .title
        Haml
      .overview
        概要
      .text
        Hamlは、Webドキュメントにインラインコードを記述せずにHTMLをよりクリーンにするように設計されたテンプレートシステムです。

    .main-content-block
      .title
        SCSS
      .overview
        概要
      .text
        ハンプトン・キャトリンが設計しネイサン・バイゼンバウムが開発したスタイルシート言語である。

.main
  フレームワーク
  .main-content2
    .main-content-block
      .title
        Ruby on Rails
      .overview
        概要
      .text
        Ruby on Railsは、オープンソースのWebアプリケーションフレームワークである。RoRまたは単にRailsと呼ばれる。その名にも示されているようにRubyで書かれている。

.footer
  .footer_info
    .footer_info_text
      管理者名
    .footer_info_name
      日野公介
    = link_to "プロフィール", profiles_path, class: "footer_profile"
  .footer_lastupdate
    .footer_lastupdate_text
      最終更新日時
    .footer_lastupdate_time
      2020-07-17