.header
  .header__title
    = link_to "プログラミング紹介サイト", '#', class: "header__title--text"
  .header__right
    = link_to "新規登録", '#', class: "header__right--btn"

.main
  .main-content1
    .main-content-block
      .title
        HTML
      .overview
        概要
      .text
        HyperText Markup Languageは、ハイパーテキストを記述するためのマークアップ言語の1つ

    .main-content-block
      .title
        CSS
      .overview
        概要
      .text
        Cascading Style Sheetsは、HTML や XML の要素をどのように修飾するかを指示する仕様の一つ

    .main-content-block
      .title
        Ruby
      .overview
        概要
      .text
        Rubyは、まつもとゆきひろにより開発されたオブジェクト指向スクリプト言語。
  .main-content2
    .main-content-block
      .title
        Rails
      .overview
        概要
      .text
        HyperText Markup Languageは、ハイパーテキストを記述するためのマークアップ言語の1つ

    .main-content-block
      .title
        javascript
      .overview
        概要
      .text
        Cascading Style Sheetsは、HTML や XML の要素をどのように修飾するかを指示する仕様の一つ

    .main-content-block
      .title
        haml/SCSS
      .overview
        概要
      .text
        Rubyは、まつもとゆきひろにより開発されたオブジェクト指向スクリプト言語。

.footer
  .footer_info
    .footer_info_text
      管理者名
    .footer_info_name
      日野公介
    = link_to "プロフィール", profiles_path, class: "footer_profile"
  .footer_lastupdate
    .footer_lastupdate_text
      最終更新日時
    .footer_lastupdate_time
      2020-07-06