.footer
  .footer_info
    .footer_info_text
      管理者名
    .footer_info_name
      日野公介
    = link_to "プロフィール", profiles_path, class: "footer_profile"
  .footer_lastupdate
    .footer_lastupdate_text
      最終更新日時
    .footer_lastupdate_time
      2020-08-06