.header
  .header__title
    = link_to "プログラミング紹介サイト", '#', class: "header__title--text"
  .header__right
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
    - else
      = link_to "ログイン", new_user_session_path, class: "header__right--btn"